.card {
    width: 40%;
    margin: 3em auto;
}
.login-logo {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 3em 0 0.5em 0;
}
.card-title, .card-category {
    text-align: center;
}
.login-btn {
    float: right;
}