<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="example-header category-search">
        <mat-form-field class="cat-search">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for Category">
        </mat-form-field>
        <button mat-raised-button color="primary" class="cat-button" (click)="openCreateCategoryModal()">Create</button>
      </div>

      <!-- Data Table -->
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
          <!-- S.No -->
          <ng-container matColumnDef="sno">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = dataIndex;"> {{dataSource.filteredData.indexOf(row) + 1}} </mat-cell>
          </ng-container>

          <!-- Category Name -->
          <ng-container matColumnDef="category_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Category Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.category_name}} </mat-cell>
          </ng-container>

          <!-- Category Image-->
          <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
            <mat-cell *matCellDef="let row"> <img src="{{row.image}}" class="cat-image" /></mat-cell>
          </ng-container>

          <!-- Category Status -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.status == '1' ? 'Enabled' : 'Disabled' }}</mat-cell>
          </ng-container>

          <!-- Category Comments Status -->
          <ng-container matColumnDef="comments">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Comments </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.category_comment_status == 'true' ? 'Disabled' : 'Enabled' }}</mat-cell>
            </ng-container>

          <!-- No Of Sub Categories -->
          <ng-container matColumnDef="subcategories">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sub Categories </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.subcategories.length}}</mat-cell>
          </ng-container>

          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="viewCategoryDetails(row)" title="View">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
              <button mat-icon-button (click)="enableOrDisableComments(row.id, row.category_comment_status)" title="Enable or disable comment">
                <mat-icon>comment</mat-icon>
              </button>
              <button mat-icon-button (click)="confirmDeleteCategory(row)" title="Delete category">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
      </div>

      <!-- Add Category Modal Popup -->
      <div id="addCategoryModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create Category</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <form class="example-form" [formGroup]="addCategoryForm">
                <mat-form-field name="category_name">
                  <input matInput placeholder="Category name" formControlName="category_name" required>
                  <mat-error *ngIf="!addCategoryForm.controls['category_name'].valid && addCategoryForm.controls['category_name'].touched">Enter category name</mat-error>
                </mat-form-field>
                <mat-form-field name="status">
                  <mat-select placeholder="Select Status" formControlName="status" required>
                    <mat-option>Select Status</mat-option>
                    <mat-option *ngFor="let status of statusList" [value]="status.id">{{status.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="!addCategoryForm.controls['status'].valid && addCategoryForm.controls['status'].touched">Select category status</mat-error>
                </mat-form-field>
                <div name="image">
                  <input type="file" id="addCategoryFileId" accept="image/*" (change)="handleFileInput($event.target.files)" required>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="primary" [disabled]="!addCategoryForm.valid" (click)="addCategory()" data-dismiss="modal">Create</button>
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- View or Update Category Modal-->
      <div id="viewCategoryModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">View/Update Category</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6">
                  <img src="{{imagePath}}" style="width: 100%; height: 165px;"/>
                </div>
                <div  class="col-xs-12 col-md-6 col-lg-6">
                  <form class="example-form" [formGroup]="updateCategoryForm">
                    <mat-form-field name="category_name">
                      <input matInput placeholder="Category name" formControlName="category_name" required>
                      <mat-error *ngIf="!updateCategoryForm.controls['category_name'].valid && updateCategoryForm.controls['category_name'].touched">Enter category name</mat-error>
                    </mat-form-field>
                    <mat-form-field name="status">
                      <mat-select placeholder="Select Status" formControlName="status" required>
                        <mat-option>Select Status</mat-option>
                        <mat-option *ngFor="let status of statusList" [value]="status.id">{{status.name}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="!updateCategoryForm.controls['status'].valid && updateCategoryForm.controls['status'].touched">Select category status</mat-error>
                    </mat-form-field>
                    <div name="image">
                      <input type="file" id="updateCategoryFileId" accept="image/*" (change)="updateFileInput($event.target.files)" required>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="primary" [disabled]="!updateCategoryForm.valid" (click)="updateCategory()" data-dismiss="modal">Update</button>
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Success Message Modal -->
      <div class="modal fade" id="successMessageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Success</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p><i class="fa fa-check fa-2x" style="color:green"></i><span> {{successMessage}}</span></p>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Error Message Popup -->
      <div class="modal fade" id="errorMessageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Error</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p><i class="fa fa-times fa-2x" style="color:red"></i><span> {{errorMessage}}</span></p>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Prompt Modal -->
      <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Confirm Delete</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p><i class="fa fa-warning fa-2x" style="color:orange"></i><span> Are you sure to delete category and related data...?</span></p>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="default" data-dismiss="modal">No</button>
              <button type="button" mat-raised-button color="warn" (click)="deleteCategory()">Yes</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>