<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="example-header category-search">
        <mat-form-field class="cat-search">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for Adds">
        </mat-form-field>
        <button mat-raised-button color="primary" class="cat-button" (click)="openAddsModal()">Create Add</button>
      </div>

      <!-- Adds Data Table -->
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
          <!-- S.No -->
          <ng-container matColumnDef="sno">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = dataIndex;"> {{dataSource.filteredData.indexOf(row) + 1}}
            </mat-cell>
          </ng-container>

          <!-- Title -->
          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Title</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
          </ng-container>

          <!-- URL -->
          <ng-container matColumnDef="url">
            <mat-header-cell *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.url}} </mat-cell>
          </ng-container>

          <!-- Priority -->
          <ng-container matColumnDef="priority">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Priority </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.priority}}</mat-cell>
          </ng-container>

          <!-- Position -->
          <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Position </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
          </ng-container>

          <!-- Status -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.status == '1' ? 'Enabled' : 'Disabled'}}</mat-cell>
          </ng-container>

          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="viewAddDetails(row)" title="View">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
              <button mat-icon-button [disabled]="row.addsimages.length == 0 ? 'true' : 'false'"
                (click)="viewAddImages(row)" title="View Add Images">
                <mat-icon>photo_library</mat-icon>
              </button>
              <button mat-icon-button [disabled]="row.addsvideos.length == 0 ? 'true' : 'false'"
                (click)="viewAddVideos(row)" title="View Add Videos">
                <mat-icon>video_library</mat-icon>
              </button>
              <button mat-icon-button (click)="confirmDelete(row)" title="Delete">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[25, 50, 100, 250, 500]"></mat-paginator>
      </div>

      <!-- Create Live Adds Modal -->
      <div class="modal fade" id="addLiveAddsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create Add in Live</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="example-form" [formGroup]="liveAddForm">
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Add Title -->
                    <mat-form-field name="title">
                      <input matInput placeholder="Add Title" formControlName="title">
                      <mat-error *ngIf="!liveAddForm.controls['title'].valid && liveAddForm.controls['title'].touched">
                        Enter add title</mat-error>
                    </mat-form-field>

                    <!-- Add Description -->
                    <mat-form-field name="description">
                      <input matInput placeholder="Add Description" formControlName="description">
                      <mat-error
                        *ngIf="!liveAddForm.controls['description'].valid && liveAddForm.controls['description'].touched">
                        Enter add description</mat-error>
                    </mat-form-field>

                    <!-- Add URL -->
                    <mat-form-field name="url">
                      <input matInput placeholder="Add URL" formControlName="url">
                      <mat-error *ngIf="!liveAddForm.controls['url'].valid && liveAddForm.controls['url'].touched">Enter
                        add URL</mat-error>
                    </mat-form-field>

                    <!-- Add Status -->
                    <mat-form-field name="status">
                      <mat-select placeholder="Add Status" formControlName="status" required>
                        <mat-option>Select Status</mat-option>
                        <mat-option *ngFor="let status of statusList" [value]="status.id">{{status.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="!liveAddForm.controls['status'].valid && liveAddForm.controls['status'].touched">Select
                        add status</mat-error>
                    </mat-form-field>

                    <!-- Add Priority -->
                    <mat-form-field name="priority">
                      <mat-select placeholder="Add Priority" formControlName="priority" required>
                        <mat-option>Select Priority</mat-option>
                        <mat-option *ngFor="let data of priorityValues" [value]="data.id">{{data.id}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="!liveAddForm.controls['priority'].valid && liveAddForm.controls['priority'].touched">
                        Select
                        add priority</mat-error>
                    </mat-form-field>

                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Add States -->
                    <mat-form-field name="selected_states">
                      <mat-select placeholder="Select Add States" formControlName="selected_states" multiple required>
                        <mat-option *ngFor="let state of statesList" [value]="state.id">{{state.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="!liveAddForm.controls['selected_states'].valid && liveAddForm.controls['selected_states'].touched">
                        Select add states</mat-error>
                    </mat-form-field>
                    <!-- Live Add Images -->
                    <div name="image">
                      <label>Add Images *</label>
                      <input type="file" formControlName="addLiveImages" multiple accept="image/*"
                        (change)="imageInputFilesAtLiveAdd($event.target.files)" required>
                      <!-- <label><b>Note:</b> Image width: 890PX, height: 117PX</label> -->
                    </div>
                    <br>
                    <!-- Live Add Videos -->
                    <div name="video">
                      <label>Add Videos</label>
                      <input type="file" formControlName="addLiveVideos" multiple accept="video/*"
                        (change)="videoInputFilesAtLiveAdd($event.target.files)">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="primary" [disabled]="!liveAddForm.valid"
                (click)="createLiveAdd()">Create</button>
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Create Post Adds Modal -->
      <div class="modal fade" id="addPostAddsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create Add in Post</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="example-form" [formGroup]="postAddForm">
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Add Title -->
                    <mat-form-field name="title">
                      <input matInput placeholder="Add Title" formControlName="title">
                      <mat-error *ngIf="!postAddForm.controls['title'].valid && postAddForm.controls['title'].touched">
                        Enter add title</mat-error>
                    </mat-form-field>
                    <!-- Add Description -->
                    <mat-form-field name="description">
                      <input matInput placeholder="Add Description" formControlName="description">
                      <mat-error
                        *ngIf="!postAddForm.controls['description'].valid && postAddForm.controls['description'].touched">
                        Enter add description</mat-error>
                    </mat-form-field>
                    <!-- Add URL -->
                    <mat-form-field name="url">
                      <input matInput placeholder="Add URL" formControlName="url">
                      <mat-error *ngIf="!postAddForm.controls['url'].valid && postAddForm.controls['url'].touched">Enter
                        add URL</mat-error>
                    </mat-form-field>
                    
                    <!-- Add Status -->
                    <mat-form-field name="status">
                      <mat-select placeholder="Add Status" formControlName="status" required>
                        <mat-option>Select Status</mat-option>
                        <mat-option *ngFor="let status of statusList" [value]="status.id">{{status.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="!postAddForm.controls['status'].valid && postAddForm.controls['status'].touched">Select
                        add status</mat-error>
                    </mat-form-field>

                    <!-- Add Priority -->
                    <mat-form-field name="priority">
                      <mat-select placeholder="Add Priority" formControlName="priority" required>
                        <mat-option>Select Priority</mat-option>
                        <mat-option *ngFor="let data of priorityValues" [value]="data.id">{{data.id}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="!postAddForm.controls['priority'].valid && postAddForm.controls['priority'].touched">
                        Select
                        add priority</mat-error>
                    </mat-form-field>
                     <!--  Add Tag  -->
                     <mat-form-field name="tag">
                      <input matInput placeholder="Add Tag" formControlName="tag">
                      <mat-error *ngIf="!postAddForm.controls['tag'].valid && postAddForm.controls['tag'].touched">Enter
                        add Tag
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Live Add Images -->
                    <div name="image">
                      <label>Add Images *</label>
                      <input type="file" formControlName="addLiveImages" multiple accept="image/*"
                        (change)="imageInputFilesAtLiveAdd($event.target.files)" required>
                      <!-- <label><b>Note:</b> Image width: 890PX, height: 117PX</label> -->
                    </div>
                    <br>
                    <!-- Live Add Videos -->
                    <div name="video">
                      <label>Add Videos</label>
                      <input type="file" formControlName="addLiveVideos" multiple accept="video/*"
                        (change)="videoInputFilesAtLiveAdd($event.target.files)">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="primary" [disabled]="!postAddForm.valid"
                (click)="createPostAdd()">Create</button>
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Update Live Adds Modal -->
      <div class="modal fade" id="updateLiveAddsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Update Add in Live</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="example-form" [formGroup]="updateLiveAddForm">
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Add Title -->
                    <mat-form-field name="title">
                      <input matInput placeholder="Add Title" formControlName="title">
                      <mat-error
                        *ngIf="!updateLiveAddForm.controls['title'].valid && updateLiveAddForm.controls['title'].touched">
                        Enter add title</mat-error>
                    </mat-form-field>
                    <!-- Add Description -->
                    <mat-form-field name="description">
                      <input matInput placeholder="Add Description" formControlName="description">
                      <mat-error
                        *ngIf="!updateLiveAddForm.controls['description'].valid && updateLiveAddForm.controls['description'].touched">
                        Enter add description</mat-error>
                    </mat-form-field>
                    <!-- Add URL -->
                    <mat-form-field name="url">
                      <input matInput placeholder="Add URL" formControlName="url">
                      <mat-error
                        *ngIf="!updateLiveAddForm.controls['url'].valid && updateLiveAddForm.controls['url'].touched">
                        Enter add URL</mat-error>
                    </mat-form-field>
                    <!-- Add Status -->
                    <mat-form-field name="status">
                      <mat-select placeholder="Add Status" formControlName="status" required>
                        <mat-option>Select Status</mat-option>
                        <mat-option *ngFor="let status of statusList" [value]="status.id">{{status.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="!updateLiveAddForm.controls['status'].valid && updateLiveAddForm.controls['status'].touched">
                        Select add status</mat-error>
                    </mat-form-field>

                    <!-- Add Priority -->
                    <mat-form-field name="priority">
                      <mat-select placeholder="Add Priority" formControlName="priority" required>
                        <mat-option>Select Priority</mat-option>
                        <mat-option *ngFor="let priority of priorityValues" [value]="priority.id">{{priority.id}}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="!updateLiveAddForm.controls['priority'].valid && updateLiveAddForm.controls['priority'].touched">
                        Select
                        add priority</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Add States -->
                    <mat-form-field name="selected_states">
                      <mat-select placeholder="Select Add States" formControlName="selected_states" multiple required>
                        <mat-option *ngFor="let state of statesList" [value]="state.id">{{state.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="!updateLiveAddForm.controls['selected_states'].valid && updateLiveAddForm.controls['selected_states'].touched">
                        Select add states</mat-error>
                    </mat-form-field>
                    <!-- Live Add Images -->
                    <div name="image">
                      <label>Add Images</label>
                      <input type="file" formControlName="addLiveImages" multiple accept="image/*"
                        (change)="imageInputFilesAtLiveAdd($event.target.files)">
                      <!-- <label><b>Note:</b> Image width: 890PX, height: 117PX</label> -->
                    </div>
                    <br>
                    <!-- Live Add Videos -->
                    <div name="video">
                      <label>Add Videos</label>
                      <input type="file" formControlName="addLiveVideos" multiple accept="video/*"
                        (change)="videoInputFilesAtLiveAdd($event.target.files)">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="primary" [disabled]="!updateLiveAddForm.valid"
                (click)="updateLiveAdd()">Update</button>
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Update Post Adds Modal -->
      <div class="modal fade" id="updatePostAddsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Update Add in Post</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="example-form" [formGroup]="updatePostAddForm">
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Add Title -->
                    <mat-form-field name="title">
                      <input matInput placeholder="Add Title" formControlName="title">
                      <mat-error
                        *ngIf="!updatePostAddForm.controls['title'].valid && updatePostAddForm.controls['title'].touched">
                        Enter add title</mat-error>
                    </mat-form-field>
                    <!-- Add Description -->
                    <mat-form-field name="description">
                      <input matInput placeholder="Add Description" formControlName="description">
                      <mat-error
                        *ngIf="!updatePostAddForm.controls['description'].valid && updatePostAddForm.controls['description'].touched">
                        Enter add description</mat-error>
                    </mat-form-field>
                    <!-- Add URL -->
                    <mat-form-field name="url">
                      <input matInput placeholder="Add URL" formControlName="url">
                      <mat-error
                        *ngIf="!updatePostAddForm.controls['url'].valid && updatePostAddForm.controls['url'].touched">
                        Enter add URL</mat-error>
                    </mat-form-field>
                    <!-- Add Status -->
                    <mat-form-field name="status">
                      <mat-select placeholder="Add Status" formControlName="status" required>
                        <mat-option>Select Status</mat-option>
                        <mat-option *ngFor="let status of statusList" [value]="status.id">{{status.name}}</mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="!updatePostAddForm.controls['status'].valid && updatePostAddForm.controls['status'].touched">
                        Select add status</mat-error>
                    </mat-form-field>

                    <!-- Add Priority -->
                    <mat-form-field name="priority">
                      <mat-select placeholder="Add Priority" formControlName="priority" required>
                        <mat-option>Select Priority</mat-option>
                        <mat-option *ngFor="let priority of priorityValues" [value]="priority.id">{{priority.id}}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="!updatePostAddForm.controls['priority'].valid && updatePostAddForm.controls['priority'].touched">
                        Select
                        add priority</mat-error>
                    </mat-form-field>
                    <!-- Add Tag -->
                    <mat-form-field name="tag"> 
                      <input matInput placeholder="Add Tag" formControlName="tag">
                      <mat-error
                        *ngIf="!updatePostAddForm.controls['tag'].valid && updatePostAddForm.controls['tag'].touched">
                        Enter add Tag</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Live Add Images -->
                    <div name="image">
                      <label>Add Images</label>
                      <input type="file" formControlName="addLiveImages" multiple accept="image/*"
                        (change)="imageInputFilesAtLiveAdd($event.target.files)">
                      <!-- <label><b>Note:</b> Image width: 890PX, height: 117PX</label> -->
                    </div>
                    <br>
                    <!-- Live Add Videos -->
                    <div name="video">
                      <label>Add Videos</label>
                      <input type="file" formControlName="addLiveVideos" multiple accept="video/*"
                        (change)="videoInputFilesAtLiveAdd($event.target.files)">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="primary" [disabled]="!updatePostAddForm.valid"
                (click)="updatePostAdd()">Update</button>
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Prompt Type of Add Modal Popup -->
      <div class="modal fade" id="promptTypeOfAddModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Confirm</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p><i class="fa fa-warning fa-2x" style="color:orange"></i><span> Select where Add to appear...!!!</span>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="warn" (click)="openLiveAddModal()">In Live</button>
              <button type="button" mat-raised-button color="primary" (click)="openPostAddModal()">In Post</button>
            </div>
          </div>
        </div>
      </div>

      <!-- View Add Images Modal -->
      <div class="modal fade" id="viewAddImagesModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Images of Add</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="example-form">
                <div class="row">
                  <div class="col-xs-12 col-md-4 col-lg-4" *ngFor="let img of addImagesList">
                    <img src="{{img.path}}" style="width: 235px; height: 200px;" />
                    <button mat-raised-button color="warn" (click)="promptDeleteAddImage(img)">Delete</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- View Add Videos Modal -->
      <div class="modal fade" id="viewAddVideosModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Videos of Add</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="example-form">
                <div class="row">
                  <div class="col-xs-12 col-md-4 col-lg-4" *ngFor="let video of addVideosList">
                    <video width="250" height="150" controls>
                      <source src="{{video.path}}">
                    </video>
                    <button mat-raised-button color="warn" (click)="promptDeleteAddVideo(video)">Delete</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Prompt Delete Add Image or Video Modal Popup -->
      <div class="modal fade" id="deleteAddImageVideoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Confirm Delete</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p><i class="fa fa-warning fa-2x" style="color:orange"></i><span> Sure to delete add
                  {{fileType}}...?</span></p>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="default" data-dismiss="modal">No</button>
              <button type="button" mat-raised-button color="warn" (click)="deleteAddImageorVideo()">Yes</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Prompt Modal Popup -->
      <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Confirm Delete</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p><i class="fa fa-warning fa-2x" style="color:orange"></i><span> Are you sure to delete...?</span></p>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="default" data-dismiss="modal">No</button>
              <button type="button" mat-raised-button color="warn" (click)="deleteAdd()">Yes</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Success Message Modal -->
      <div class="modal fade" id="successMessageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog  modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Success</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p><i class="fa fa-check fa-2x" style="color:green"></i><span> {{successMessage}}</span></p>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Error Message Popup -->
      <div class="modal fade" id="errorMessageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Error</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p><i class="fa fa-times fa-2x" style="color:red"></i><span> {{errorMessage}}</span></p>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>