<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-8">
        <div class="example-header category-search">
          <mat-form-field class="cat-search">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for scratch card">
          </mat-form-field>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-lg-3">
        <form class="example-form" [formGroup]="cardsStatusForm">
          <mat-form-field name="status">
            <mat-select placeholder="Filter By Scratch Card Status" formControlName="status" required (selectionChange)="onCardsStatusChange(cardsStatusForm.controls['status'].value)">
              <mat-option>Select Status</mat-option>
              <mat-option *ngFor="let cardStat of cardsStatusLists" [value]="cardStat.value">{{cardStat.type}}</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div class="col-xs-12 col-md-1 col-lg-1">
        <button mat-raised-button color="primary" class="cat-button" [disabled]="!cardsStatusForm.valid" (click)="getAllUsersScratechCards()">Reset</button>
      </div>

      <!-- User Scratch Cards Data Table -->
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
          <!-- S.No -->
          <ng-container matColumnDef="sno">
            <mat-header-cell *matHeaderCellDef mat-sort-header> S.No </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = dataIndex;"> {{dataSource.filteredData.indexOf(row) + 1}} </mat-cell>
          </ng-container>

          <!-- User Name -->
          <ng-container matColumnDef="nick_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> User Name</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nick_name}} </mat-cell>
          </ng-container>

          <!-- Mobile -->
          <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.mobile}} </mat-cell>
          </ng-container>

          <!-- Amount -->
          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
            <mat-cell *matCellDef="let row">Rs. {{row.amount}}</mat-cell>
          </ng-container>

          <!-- Issued Date -->
          <ng-container matColumnDef="issued_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Issued Date </mat-header-cell>
            <mat-cell *matCellDef="let row">Rs. {{row.issued_date}}</mat-cell>
          </ng-container>

          <!-- Expiry Date -->
          <ng-container matColumnDef="expire_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.expire_date}}</mat-cell>
          </ng-container>

          <!-- Reedemed Date -->
          <ng-container matColumnDef="redeemed_date">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Reedemed Date </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.redeemed_date}}</mat-cell>
          </ng-container>

          <!-- scrach_status -->
          <ng-container matColumnDef="scrach_status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.scrach_status}}</mat-cell>
          </ng-container>

          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="viewScratchCardDetails(row)" title="View">
                <mat-icon>remove_red_eye</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[25, 50, 100, 250, 500, 1000]"></mat-paginator>
      </div>

      <!-- View Scratch Card Details Modal -->
      <div class="modal fade" id="viewScratchCardModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" >View Scratch Card Details</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <form class="example-form" [formGroup]="cardDetailsForm">
                <div class="row">
                  <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Name -->
                    <mat-form-field name="nick_name">
                      <input matInput placeholder="User Name" formControlName="nick_name">
                      <mat-error *ngIf="!cardDetailsForm.controls['nick_name'].valid && cardDetailsForm.controls['nick_name'].touched">Enter user name</mat-error>
                    </mat-form-field>
                    <!-- Mobile -->
                    <mat-form-field name="mobile">
                      <input matInput placeholder="User Mobile" formControlName="mobile">
                      <mat-error *ngIf="!cardDetailsForm.controls['mobile'].valid && cardDetailsForm.controls['mobile'].touched">Enter user mobile number</mat-error>
                    </mat-form-field>
                    <!-- Scratch Status -->
                    <mat-form-field name="scrach_status">
                      <input matInput placeholder="Scratch Card Status" formControlName="scrach_status">
                      <mat-error *ngIf="!cardDetailsForm.controls['scrach_status'].valid && cardDetailsForm.controls['scrach_status'].touched">Enter scratch card status</mat-error>
                    </mat-form-field>
                    <!-- Scratch Card Type -->
                    <mat-form-field name="type">
                      <input matInput placeholder="Scratch Card Type" formControlName="type">
                      <mat-error *ngIf="!cardDetailsForm.controls['type'].valid && cardDetailsForm.controls['type'].touched">Enter scratch card type</mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-md-6 col-lg-6">
                    <!-- Amount -->
                    <mat-form-field name="amount">
                      <input matInput placeholder="Amount" formControlName="amount">
                      <mat-error *ngIf="!cardDetailsForm.controls['amount'].valid && cardDetailsForm.controls['amount'].touched">Enter scratch card amount</mat-error>
                    </mat-form-field>
                    <!-- Issued Date -->
                    <mat-form-field name="issued_date">
                      <input matInput placeholder="Issued Date" formControlName="issued_date">
                      <mat-error *ngIf="!cardDetailsForm.controls['issued_date'].valid && cardDetailsForm.controls['issued_date'].touched">Enter scratch card issued date</mat-error>
                    </mat-form-field>
                    <!-- Expired Date -->
                    <mat-form-field name="expire_date">
                      <input matInput placeholder="Expired Date" formControlName="expire_date">
                      <mat-error *ngIf="!cardDetailsForm.controls['expire_date'].valid && cardDetailsForm.controls['expire_date'].touched">Enter scratch card expired date</mat-error>
                    </mat-form-field>
                    <!-- Redeemed Date -->
                    <mat-form-field name="redeemed_date">
                      <input matInput placeholder="Redeemed Date" formControlName="redeemed_date">
                      <mat-error *ngIf="!cardDetailsForm.controls['redeemed_date'].valid && cardDetailsForm.controls['redeemed_date'].touched">Enter scratch card redeemed date</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Error Message Popup -->
      <div class="modal fade" id="errorMessageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Error</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <p><i class="fa fa-times fa-2x" style="color:red"></i><span> {{errorMessage}}</span></p>
            </div>
            <div class="modal-footer">
              <button type="button" mat-raised-button color="default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>